<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク管理アプリケーション</title>
<!--    <link th:href="@{/home.css}" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<h1>タスク管理アプリケーション</h1>
<div class="task_form">
    <h2>タスクの登録</h2>
<!--    <form action="/add">-->
        <label class="form-label">タスク</label>
        <input name="task" class="form-control" type="text" id="new_task" />
        <label class="form-label">期限</label>
        <input class="form-control" name="deadline" type="date" id="new_deadline"/>
        <input type="submit" value="登録" onclick="restAdd();" />
<!--    </form>-->
</div>
<div>
    <h2>現在のタスク一覧</h2>
    <div class="row">
        <div class="col">
            <form action="/search">
                <div class="row">
                    <div class="col">
                        <input type="month" name="month" th:value="${month}"/>
                    </div>
                    <div class="col">
                        <label for="complete">未完了のみ</label>
                        <input type="checkbox" name="complete" id="complete" th:checked="${complete}">
                    </div>
                    <div class="col">
                        <button type="submit" name="search_button" class="col btn btn-secondary btn-sm">検索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>タスク</th>
                <th>期限</th>
                <th>メモ</th>
                <th>状態</th>
                <th style="colspan:2">更新・削除</th>
            </tr>
        </thead>
        <tbody id="task_list_body">
            <tr th:each="task : ${taskList}" name="task_list_row">
                <td th:text="${task.id}"></td>
                <td th:text="${task.task}"></td>
                <td th:text="${task.deadline}"></td>
                <td th:text="${task.memo}"></td>
                <td th:text="${task.done} ? '完' : '未'"></td>
                <td>
                    <button type="submit" name="update_button" onclick="copyToDialog(this.parentElement.parentElement);" data-bs-toggle="modal" data-bs-target="#updatedialog" class="col btn btn-primary btn-sm">更新</button>
                </td>
                <td>
                    <form action="/delete">
                        <button type="submit" name="delete_button" class="col btn btn-secondary btn-sm">削除</button>
                        <input type="hidden" name="id" th:value="${task.id}" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="updatedialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/update">
                <div class="modal-header">
                    <h2>タスクの更新</h2>
                </div>
                <div class="modal-body">
                    <input id="update_id" name="id" type="hidden"/>
                    <label for="update_task">タスク</label>
                    <input id="update_task" class="form-control" name="task" type="text"/>
                    <label for="update_deadline">期限</label>
                    <input id="update_deadline" class="form-control" name="deadline" type="date"/>
                    <label for="update_memo">メモ</label>
                    <input id="update_memo" class="form-control" name="memo" type="text"/>
                    <label for="update_status">状態</label>
                    <select id="update_status" class="form-select" name="done">
                        <option value="false">未完了</option>
                        <option value="true">完了</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">更新</button>
                    <button type="reset" data-bs-dismiss="modal" class="btn btn-secondary">キャンセル</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function copyToDialog(row){
        var children = $(row).children();
        $('#update_id').val($(children)[0].textContent);
        $('#update_task').val($(children)[1].textContent);
        $('#update_deadline').val($(children)[2].textContent);
        $('#update_memo').val($(children)[3].textContent);
        $('#update_status').selectedIndex=($(children)[4].textContent=='完了')?1:0;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
<script>
    function restAdd(){
        var new_task = $("#new_task").val();
        var new_deadline = $("#new_deadline").val();
        var new_memo = $("#new_memo").val();
        $.ajax({
          type: "POST",
          url: "/rest_add",
          data: { task: new_task, deadline: new_deadline, memo: new_memo }
        }).done(function( msg ) {
          $("#task_list_body").empty();   //テーブルクリア
          for(var i=0; i<msg.length; i++){
            var id = msg[i].id;
            var task = msg[i].task;
            var deadline = msg[i].deadline;
            var done = msg[i].done;

            $obj = $("#table_row").clone();  //追加する行のデータをコピー
            //ここにid,task,deadline,doneのセット処理を記述
            $obj.find("[name=id]").text(id);
            $obj.find("[name=task]").text(task);
            $obj.find("[name=deadline]").text(deadline);
            //完了・未完了を三項演算子でセット
            $obj.find("[name=done]").text(done ? "完了" : "未完了");
            //ボタンに付加されていたグローバル属性のhiddenを削除してボタン用を見えるように修正
            $obj.find("button").removeAttr('hidden');
            $("#task_list_body").append($obj); //テーブルに行を追加
          }
        });
    }
</script>
<div hidden>
    <table>
        <tbody>
            <tr id="table_row">
                <td name="id"></td>
                <td name="task"></td>
                <td name="deadline"></td>
                <td name="memo"></td>
                <td name="done"></td>
                <td> <!-- ボタン要素にhidden属性を付加して消えてなかった対応 -->
                    <button type="submit" name="update_button" onclick="copyToDialog(this.parentElement.parentElement);" data-bs-toggle="modal" data-bs-target="#updatedialog" class="col btn btn-primary btn-sm" hidden>更新</button>
                </td>
                <td>
                <td>
                    <form action="/delete">
                        <button type="submit" name="delete_button" class="col btn btn-secondary btn-sm" hidden>削除</button>
                        <input type="hidden" name="id" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>